.git
.github

__pycache__
*.py[cod]

.venv
venv
env
ENV

.cache
.pytest_cache
.mypy_cache

.streamlit

*.log
*.tmp
.DS_Store
Thumbs.db

data
datasets
geotiff
geojson

*.tif
*.tiff
*.nc
*.hdf
*.h5
*.hdf5
*.vrt

.vscode
.idea

build
dist
*.egg-info
