streamlit
streamlit-folium==0.25.0
folium
branca
jinja2

numpy
pandas
matplotlib
Pillow
scipy

rasterio
geopandas
shapely
pyproj
pyogrio

altair

xarray
netCDF4
h5netcdf
h5py

pyyaml
global-land-mask
